<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<% if (message != null) { %>
    <%= message %>
        <% } %>
<form action="register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <input type="submit" value="Register">
</form>
  </body>
</html>
